@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

* {
  box-sizing: border-box;
}

:root {
  --primary-color: #0f0;
  --secundary-color: #dfffdf;
  --tertiary-color: #010;
}

html {
  height: 100%;
}

body {
  font-family: "Roboto Mono", sans-serif;
  background-color: var(--tertiary-color);
  color: var(--secundary-color);
  font-size: 1.5rem;
  margin: 0;
}

body::-webkit-scrollbar {
  display: none;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5rem;
}

main {
  padding: 6rem 5rem;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: inherit;
  padding: 1rem 5rem;
}

h1 {
  color: var(--primary-color);
}

button {
  background-color: transparent;
  border: 0.1em solid var(--primary-color);
  color: var(--primary-color);
  padding: 0.3em 2em;
  border-radius: 0.12em;
  transition: all 0.5s;
  font-size: inherit;
  font-family: inherit;
}

button:not([disabled]):hover {
  background-color: var(--primary-color);
  color: var(--tertiary-color);
  cursor: pointer;
}

button:disabled {
  border: 0.1em solid var(--secundary-color);
  color: var(--secundary-color);
}

.btn-small {
  padding: 0 0.5em;
}

.hidden {
  display: none;
}

a {
  color: var(--primary-color);
}

a:hover,
a:visited {
  opacity: 0.8;
}

fieldset {
  width: fit-content;
}

dt {
  font-weight: 700;
}

@media only screen and (max-width: 1200px) {
  header {
    flex-direction: column;
    padding-bottom: 1rem;
  }

  header div {
    text-align: center;
  }

  main {
    padding: 10rem 2rem 5rem 2rem;
  }

  footer,
  h2 {
    text-align: center;
  }
}

@media only screen and (max-width: 992px) {
  header {
    flex-direction: column;
    padding-bottom: 1rem;
  }

  header div {
    text-align: center;
  }

  main {
    padding: 10rem 2rem 5rem 2rem;
  }

  footer,
  h2 {
    text-align: center;
  }
}

@media only screen and (max-width: 768px) {
  body {
    font-size: 1.5rem;
  }

  main {
    padding: 12rem 2rem 6rem 2rem;
  }
}

@media only screen and (max-width: 600px) {
  body {
    font-size: 1rem;
  }

  main {
    padding: 8rem 1rem 4rem 1rem;
  }
}

@media only screen and (max-width: 450px) {
  body {
    font-size: 1rem;
  }

  main {
    padding: 12rem 1rem 6rem 1rem;
  }
}

@media only screen and (max-width: 285px) {
  body {
    font-size: 1rem;
  }

  main {
    padding: 16rem 1rem 8rem 1rem;
  }
}
